# Python
__pycache__/
*.pyc

# Ignore all model files
*.pkl

# Keep folder structure
!prediction/pickle/.gitkeep
!prediction/No WTMP/pickle/.gitkeep
!prediction/ERA5/pickle/.gitkeep

# Environment files
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
